<ul id="photos" class="media-grid">
  {{#photo_in_collections}}
  <li>
    <a class="thumbnail-ref photo" href="FIXME" data-id="{{id}}">
      <img src="{{photo.image.thumb.url}}" class="thumbnail" />
    </a>
  </li>
  {{/photo_in_collections}}
</ul>
