- title 'Photodev.org'

%p Welcome to the photodev, where art of coding meets art of photography.

%p The site is currently in deep alpha preview stage, so you shouldn't actually be here. Fill free to bookmark the page though.