/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@import "bootstrap";

body {
	padding-top: 60px;
	
	background-color: #F7F7F7;
}

a.thumbnail-ref {
	background-color: #ffffff;
	text-align: center;
	color: #333333;
	
	&:hover {
		text-decoration: none;
	}
}

div.buttons a {
	display: block;
	width: 80%;
	margin-top: 5px;
	margin-bottom: 5px;
	
	&:first-child {
		margin-top: 1px;
	};
}

a.selected {
	border-color: #003399;
	border-style: dashed;
}