- title "Photostream"

- content_for :head do
  = stylesheet_link_tag "photostreams"
  = javascript_include_tag "photostreams"

.row
  .span3
    #modes.buttons
      =link_to 'Upload Photo', new_photo_path, :class => 'btn'
      %a#manage{:class => 'btn', :href => '#'}= 'Manage Photos'
    #operations
      %p#selection-info
    #collections
  .span13
    %ul#photos.media-grid
      - for photo in @stream.photos
        %li
          %a.photo.thumbnail-ref{:href => 'photo_path(photo)', :title => photo.title}
            = image_tag photo.image_url(:thumb).to_s, :class => 'thumbnail'
